doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    div(ng-app='firstly')
      block content
  script(src='/components/angular/angular.js')
  script(src='/js/app.js')